<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LINUX Mini Project</h1>
    <h2>Jason Keane, Shane Higgins, Tomasz Klebek, Zdenek Krousky</h2>
    <!-- NAVBAR (Put in partials)-->
    <ul>
      <li><a href="/">Scripts</a></li>
      <li><a class="active" href="/manpages">Man Pages</a></li>
    </ul>
  </body>
</html>
