<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--<script src="/javascripts/scripts.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1>LINUX Mini Project</h1>
    <h2>Jason Keane, Shane Higgins, Tomasz Klebek, Zdenek Krousky</h2>
    <!-- NAVBAR (Put in partials)-->
    <ul>
      <li><a href="/">Scripts</a></li>
      <li><a class="active" href="/manpages">Man Pages</a></li>
    </ul>

    <!-- COLLAPSIBLE -->
    <div class="container">
      <div id="accordion" class="panel-group">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. cf (Create Files)</a>
            </h4>
          </div>

          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

              <h2>NAME
              <a name="NAME"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em">cf &minus;
              create empty dummy files</p>

              <h2>SYNOPSIS
              <a name="SYNOPSIS"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em"><b>cf</b>
              [OPTIONS]...</p>

              <h2>DESCRIPTION
              <a name="DESCRIPTION"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em"><b>cf</b> is a
              shell program to create a number of dummy files. The user
              can specify number of files to be created and their
              location. Location must be specified even if creating the
              files in current working directory. After creating the files
              a tree directory structure is displayed.</p>

              <h2>OPTIONS
              <a name="OPTIONS"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em">The cf&rsquo;s
              options are the number of files to be created, location,
              file name pattern and extension, size, display tree and
              help</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-n
              [value]</b> specify number of files to be created</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-p
              [value]</b> create files in current directory, must be
              followed by a path to the location</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-f
              [value]</b> specify file name pattern</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-e
              [value]</b> specify file extension pattern</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-s
              [value]</b> populate the files with random characters,
              specify the size of the files</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-t</b>
              display directory structure to confirm files were
              created</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-h</b>
              display help for cf</p>

              <h2>EXAMPLES
              <a name="EXAMPLES"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em"><b>cf</b>
              --&gt; create one empty file named file1.txt of size</p>

              <p style="margin-left:11%; margin-top: 1em"><b>cf -n 3 -p .
              -f test -e xxx -s 1000 -t</b> --&gt; create three files in
              current directory, name them test*.xxx and populate them
              with random characters to size of 1000 Bytes</p>

              <p style="margin-left:11%; margin-top: 1em"><b>cf -n 3 -e
              ppp -s 500 -t -p ./test</b> --&gt; create three files, named
              file*.ppp of size 500 Bytes in specified directory</p>

              <h2>SEE ALSO
              <a name="SEE ALSO"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em">touch(1)</p>

              <h2>BUGS
              <a name="BUGS"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em">No known
              bugs.</p>

              <h2>AUTHOR
              <a name="AUTHOR"></a>
              </h2>


              <p style="margin-left:11%; margin-top: 1em">Zdenek Krousky
              (zkrousky@gmail.com)
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. notes</a>
            </h4>
          </div>

          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">

              <h2>NAME
              <a name="NAME"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">notes &minus;
              command line notes script</p>

              <h2>SYNOPSIS
              <a name="SYNOPSIS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>notes</b>
              [FILE_NAME or -d for DATE_NAME] [LOCATION]</p>

              <h2>DESCRIPTION
              <a name="DESCRIPTION"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>notes</b> is
              a bash script that allows the user to create quick to-do
              notes inside the terminal. The script checks, if a notes
              file is present in the given or current folder. If so it
              simply appends new text to the existing content otherwise it
              creates a new file. The name can be specified as the first
              argument after the invocation of the command, otherwise, the
              scripts creates a file with the current date name. Every
              time <b>notes</b> is invoked for a specific file a new entry
              is created marked by current time. <b>-d</b> option has to
              be used if creating files with date name in locations other
              than the current directory.</p>

              <h2>OPTIONS
              <a name="OPTIONS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">Options for
              <b>notes</b> are the name of the file or the -d switch and
              the location of the file. If both are empty, file with date
              name in current directory is created and new text added to
              it&rsquo;s content</p>

              <table width="100%" border="0" rules="none" frame="void" cellspacing="0" cellpadding="0">
              <tr valign="top" align="left">
              <td width="11%"></td>
              <td width="-3%"></td>
              <td width="7%">

              <p><b>-d</b></p></td>
              <td width="85%">

              <p>create a file with DATE as it&rsquo;s name in other than
              the current directory</p></td></tr>
              </table>

              <h2>SEE ALSO
              <a name="SEE ALSO"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">cat(1)</p>

              <h2>BUGS
              <a name="BUGS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">No known
              bugs.</p>

              <h2>AUTHOR
              <a name="AUTHOR"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">Zdenek Krousky
              (zkrousky@gmail.com)</p>
              <hr>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. sysinf</a>
            </h4>
          </div>

          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <h2>NAME
              <a name="NAME"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">sysinf &minus;
              retrive system information</p>

              <h2>SYNOPSIS
              <a name="SYNOPSIS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf</b>
              [OPTION] ...</p>

              <h2>DESCRIPTION
              <a name="DESCRIPTION"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf</b>
              is a shell script that retrieves information about the
              system from system files located in /proc and by using
              additional commands</p>

              <h2>OPTIONS
              <a name="OPTIONS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">The
              sysinf&rsquo;s options relate to the information
              required</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-c --cpu
              cpu</b> information about the processor</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-g --gpu
              gpu</b> information abou graphical card</p>
              </a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf
              -c</b> --&gt; display information about the cpu</p>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf cpu
              mem</b> --&gt; display information about the cpu and
              memory</p>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf --cpu
              hdd -m</b> --&gt; display information abou the cpu, storage
              and memory</p>

              <h2>SEE ALSO
              <a name="SEE ALSO"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">df(1), echo(1),
              uname(1)</p>

              <h2>BUGS
              <a name="BUGS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">No known
              bugs.</p>

              <h2>AUTHOR
              <a name="AUTHOR"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">Zdenek Krousky
              (zkrousky@gmail.com)</p>
              <p style="margin-left:11%; margin-top: 1em"><b>-m --mem
              mem</b> information abou memory and swap</p>

              <p style="margin-left:11%; margin-top: 1em"><b>-h --hdd
              hdd</b> information about storage</p>

              <h2>EXAMPLES
              <a name="EXAMPLES"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf
              -c</b> --&gt; display information about the cpu</p>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf cpu
              mem</b> --&gt; display information about the cpu and
              memory</p>

              <p style="margin-left:11%; margin-top: 1em"><b>sysinf --cpu
              hdd -m</b> --&gt; display information abou the cpu, storage
              and memory</p>

              <h2>SEE ALSO
              <a name="SEE ALSO"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">df(1), echo(1),
              uname(1)</p>

              <h2>BUGS
              <a name="BUGS"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">No known
              bugs.</p>

              <h2>AUTHOR
              <a name="AUTHOR"></a>
              </h2>

              <p style="margin-left:11%; margin-top: 1em">Zdenek Krousky
              (zkrousky@gmail.com)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
